<canvas id="bg-stars" aria-hidden="true"></canvas>
<div id="bg-clouds" aria-hidden="true">
  <span class="cloud cloud-a"></span>
  <span class="cloud cloud-b"></span>
  <span class="cloud cloud-c"></span>
  <span class="cloud cloud-d"></span>
</div>
<div id="bg-bubbles-glow" aria-hidden="true"></div>
<canvas id="bg-bubbles" aria-hidden="true"></canvas>
<div id="bg-disco-glow" aria-hidden="true"></div>
<canvas id="bg-disco" aria-hidden="true"></canvas>
<script defer src="{{ "js/stars.js" | relURL }}"></script>
<script defer src="{{ "js/recipes.js" | relURL }}"></script>
